PORT=5678
MONGO_URI=mongodb://localhost:27017/vetsuviet
JWT_SECRET=vetsuviet_jwt_secret_key_2024
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:3000

ADMIN_EMAIL=admin@vetsuviet.com
ADMIN_PASSWORD=123456
ADMIN_FULL_NAME=Vết Sử Việt Admin

# Email (Microsoft Outlook SMTP)
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USER=your-email@outlook.com
MAIL_PASS=your-email-password
MAIL_FROM=your-email@outlook.com
